$blanco: #fff;
$amarillo: #E7AE00;

.calificacion {
    width: 70%;
    min-width: 250px;
    margin: 0 auto;
    background-color: #fff;
    overflow-x: auto;
    margin-top: 50px;
    &__tabla{
        width: 100%;
        border-radius: 15px;
    }
    &__cabecera {
        background-color: $amarillo;
        color: royalblue;
        text-transform: uppercase;
        font-weight: 300;
        &--inicio {
            border-radius: 15px 0 0 0;
        }
        &--final {
            border-radius: 0 15px 0 0;
        }
        th{
            height: 30px;
            padding: 10px;
        }
    }
    &__body {
        tr {
            border-bottom: 1px solid rgba(black, 30%);
            td {
                padding: 10px;
                border: 1px solid rgba(black, 30%);
                text-align: center;
            }
        }
    }
}